<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="uiaVerify" 
             type="VisualUIAVerify.Configuration.UiaVerifyConfigurationSection, VisualUIAVerify"
             requirePermission="false" />
  </configSections>

  <uiaVerify>
    <plugins>
      <!-- add your assemblies that implement integration plugins for UIAVerify -->
      <!-- <add assemblyFile="C:\path\to\your\assembly\here.dll" /> -->
    </plugins>
  </uiaVerify>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>